<html>
    <head>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        #leaderboard{
            font-size: 50px;
        }
        h1 {
            text-align: center;
            font-size: 50px;
            margin-bottom: 20px;
        }
        table {
            width: 100%; /* Make table responsive */
            border-collapse: collapse;
        }
        th, td {
            font-size: 50px;
            text-align: left;
            padding: 10px;
            border: 1px solid #ddd;
        }
        th {
            font-size: 50px;
            background-color: #f2f2f2;
            font-weight: bold;
        }
        #start_board {
        visibility: hidden; /* Inherited from your original code */
        position: absolute; 
        left: 25%;
        transform: translate(-25%, 0);
        
        padding: 20px; /* Add padding for spacing */
        background-color: #f5f5f5; /* Light background color */
        border-radius: 5px; /* Rounded corners */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
   
        align-items: center; /* Center elements horizontally */
        }

        #player_list {
            margin-bottom: 15px; /* Add space between player list and text content */
            font-size: 50px;
        }

        .text_content { /* Assuming you can add a class to the text content div */

            font-size: 26px; /* Adjust font size for readability */
            line-height: 1.5; /* Increase line spacing for easier reading */
            text-align: justify; /* Justify text for better alignment with long content */
            max-width: 100%; /* Limit width to prevent overflowing content */
        }

        a[href="/start_game"] {
            margin-top: 20px; /* Add space after text content */
            padding: 10px 20px; /* Add padding for button styling */
            background-color: #4CAF50; /* Green button color */
            color: white; /* White text color */
            text-decoration: none; /* Remove underline from link */
            border: none; /* Remove default button border */
            border-radius: 5px; /* Rounded corners for button */
            cursor: pointer; /* Indicate clickable element */
        }
        #question{
            font-size: 70px;
            padding: 20px; /* Add padding for spacing */
            background-color: #f5f5f5; /* Light background color */
            border-radius: 5px; /* Rounded corners */
            
        }

        #start_game{
            padding: 25px;
            margin-top: 20px;
        }

        #new_game{
            padding: 25px;
            margin-top: 20px;   
        }

    </style>
    </head>
    <body>
    <div id="start_board" style="visibility: hidden;">
        
        <div class="text_content">
            <h1>Texte à lire a voix haute à tour de role</h1>
            {{text_content}}
        </div>
        <hr>
        <p style="font-size: 56px;">List of connected players:</p>
        <div id="player_list">
            
        </div>
        <div id="start_game">
            <center><a href="/start_game" style="font-size: 50px;">Démarrer la partie</a></center>
        </div>
    </div>

    <div id="question" style="visibility: hidden;">
        Question {{question.question_num+1}}/{{question.nb_total_question}}:
        {{question.question}}
    </div>

    <div id="leaderboard" style="visibility: hidden;">
        <table>
            <thead>
                <tr>
                    <th>Participant Name</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                {% for name, score in players_scores.items() %}
                <tr>
                    <td>{{ name }}</td>
                    <td>{{ score }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/reset_game" id="new_game">Start a new game !</a>
    </div>
</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>

    <script>
        {% if game_state=="not_start" %}
            document.getElementById("start_board").style.visibility = "visible";
        {% elif game_state=="question" %}
            document.getElementById("question").style.visibility = "visible";
        {% elif game_state=="finish" %}
            document.getElementById("leaderboard").style.visibility = "visible";
        {% endif %}
        function hide_all(){
            document.getElementById("start_board").style.visibility = "hidden";
            document.getElementById("question").style.visibility = "hidden";
            document.getElementById("leaderboard").style.visibility = "hidden";
        }
        let socket = io();
        socket.on("hide_start_board", () => {
            document.getElementById("start_board").style.visibility = "hidden";
        });

        socket.on("player_join", (data) => {
            const playerElement = document.createElement("p");
            playerElement.textContent = "- "+data.pseudo;
            const playerList = document.getElementById("player_list");
            playerList.appendChild(playerElement);
        });

        socket.on("new_question", (data) => {
            hide_all()
            document.getElementById("question").style.visibility = "visible";
            document.getElementById("question").innerHTML=data.question;
            
        });      

        socket.on("question_finish", () => {
            //Call next question in 5 seconds       
            setTimeout(() => {
                socket.emit("get_next_question"); 
            }, 5000);     
        });   

        socket.on("reload_page", (who) => {
            if(who=="All"){
                window.location.reload();
            }
        });   
    

    </script>
    
</html>