<html>
    <head>
        <meta charset="UTF-8">
        <title>QCM sur des pages wikipédia</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
          <style>
              /* Style all anchor tags to look like buttons by default */
              a {
                display: block; /* Make them behave like block elements (fill the width) */
                width: 90%; /* Set width to 100% */
                padding: 15px; /* Add some padding for better click target area */
                margin-bottom: 10px; /* Add some space between buttons */
                text-align: center; /* Center the text inside the button */
                text-decoration: none; /* Remove underline from links */
                color: #fff; /* Set text color to white */
                border: none; /* Remove default border */
                cursor: pointer; /* Change cursor to a pointer on hover */
                border-radius: 5px;
                font-size: 26px;
              }
              body{
                background-color: #f5f5f5;
              }
              #num_question{
                padding: 25px;
              }
              #end_game{
                font-size: 50px;
              }
      
              /* Target smartphones with media query */
              @media only screen and (max-width: 768px) {
              a {
                  /* Increase font size for better readability on smaller screens */
                  font-size: 16px;
              }
              }
        </style>
      </head>
    <body>
        <div id="not_start" style="visibility: hidden;">
            <p>Veuillez démarrer la partie avec le plateau de jeu</p>
        </div>
        <div id="question" style="visibility: hidden;">
            <h1 id="num_question">Question {{question.question_num+1}}/{{question.nb_total_question}}:</h1>
            <center>
            <a id="a" href="/submit_answer?answer=a" style="background-color: {% if previous_answer=='a' %} grey {%else%} #242078 {% endif %};">{{question.a}}</a>  
            <a id="b" href="/submit_answer?answer=b" style="background-color: {% if previous_answer=='b' %} grey {%else%} #242078 {% endif %};">{{question.b}}</a>  
            <a id="c" href="/submit_answer?answer=c" style="background-color: {% if previous_answer=='c' %} grey {%else%} #242078 {% endif %};">{{question.c}}</a>  
            <a id="d" href="/submit_answer?answer=d" style="background-color: {% if previous_answer=='d' %} grey {%else%} #242078 {% endif %};">{{question.d}}</a>  
        </center>
        </div>
        <div id="end_game" style="visibility: hidden;">
            Partie terminé, vous pouvez consulter les scores sur le plateau de jeu.
        </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>

    <script>
        {% if end_question %}
            final_answer_color("{{question.correct_answer}}");
        {% endif %}

        {% if game_state=="not_start" %}
            document.getElementById("not_start").style.visibility = "visible";
        {% elif game_state=="question" %}
            document.getElementById("question").style.visibility = "visible";
        {% elif game_state=="finish" %}
            document.getElementById("end_game").style.visibility = "visible";
        {% endif %}
        function hide_all(){
            document.getElementById("not_start").style.visibility = "hidden";
            document.getElementById("question").style.visibility = "hidden";
            document.getElementById("end_game").style.visibility = "hidden";
        }
        function set_choice(letter, answer){
            console.log(answer);
            document.getElementById(letter).textContent=answer.toString();
        }
        let socket = io();
        socket.on("new_question", (data) => {
            console.log(data);
            
            hide_all()
            document.getElementById("question").style.visibility = "visible";
            set_choice("a",data.a);
            set_choice("b",data.b);
            set_choice("c",data.c);
            set_choice("d",data.d);
        });      
        
        function final_answer_color(correct_answer){
            console.log(correct_answer);
            document.getElementById(correct_answer).style.background="green";
            if("{{previous_answer}}" != correct_answer){
                document.getElementById("{{previous_answer}}").style.background="red";
            }
        }

        socket.on("question_finish", (data) => {
            hide_all()
            document.getElementById("question").style.visibility = "visible";
            set_choice("a",data.a);
            set_choice("b",data.b);
            set_choice("c",data.c);
            set_choice("d",data.d);
            final_answer_color(data.answer);
        }); 

        socket.on("reload_page", (who) => window.location.reload());

    </script>
</html>