<!DOCTYPE html>
<html>
<head>
    <title>Final Results - MCQ Quiz</title>
    <meta http-equiv="refresh" content="30">  </head>
</head>
<body>
    <h1>MCQ Quiz Results</h1>
    <table>
        <thead>
            <tr>
                <th>Participant Name</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            {% for name, score in result.dico_score_all_participant.items() %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ score }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
