<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MCQ Quiz (One Question)</title>
</head>
<body>
  <h1>MCQ Quiz</h1>
  {% if question %}
    <h2>{{question['current_question_index']+1}} / {{question['total_nb_question']}} {{ question['question'] }}</h2>
    <form method="POST">
      <input type="hidden" name="current_question_index" value="{{question['current_question_index']}}" />
      <ul>
        <li>
          <input type="radio" id="option-a" name="answer" value="a">
          <label for="option-a">{{ question['a'] }}</label>
        </li>
        <li>
          <input type="radio" id="option-b" name="answer" value="b">
          <label for="option-b">{{ question['b'] }}</label>
        </li>
        <li>
          <input type="radio" id="option-c" name="answer" value="c">
          <label for="option-c">{{ question['c'] }}</label>
        </li>
        <li>
          <input type="radio" id="option-d" name="answer" value="d">
          <label for="option-d">{{ question['d'] }}</label>
        </li>
      </ul>
      <button type="submit">Submit Answer</button>
    </form>
  {% else %}
    <p>You have answered all questions!</p>
  {% endif %}
</body>
</html>
