<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>QCM sur des pages wikipédia</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  <style>
    body {
      font-family: Arial, sans-serif;
      font-size: 16px;  /* Base font size for mobile */
      margin: 0;  }
    h1 {
      text-align: center;
      font-size: 1.8em;  /* Increased H1 size for mobile */
      margin-bottom: 15px;
    }
    h2 {
      text-align: center;
      font-size: 1.4em;  /* Increased H2 size for mobile */
    }
    .question {
      font-size: 1.2em;  /* Adjusted question text size */
      margin-bottom: 10px;
    }
    li label {
      display: block;  /* Change to block for full width */
      width: 100%;  /* Set full width */
      cursor: pointer;
      padding: 10px 15px;  /* Adjusted padding for mobile */
      border-radius: 5px;
      transition: background-color 0.2s ease-in-out;
      font-size: 14px;  /* Adjusted label text size */
      background-color: lightblue;
      margin-bottom: 5px;  /* Reduced margin for spacing */
    }
    li label.option-b {
      background-color: lightgreen;
    }
    li label.option-c {
      background-color: lightpink;
    }
    li label.option-d {
      background-color: lightyellow;
    }
    input[type="radio"]:checked + label {
      background-color: #ddd;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    button[type="submit"] {
      padding: 10px 15px;  /* Adjusted button padding */
      border-radius: 5px;
      background-color: #4CAF50;
      color: white;
      border: none;
      cursor: pointer;
      font-size: 14px;  /* Adjusted button text size */
      margin-top: 10px;  /* Reduced margin for spacing */
    }
  </style>
</head>
<body>
  <h1>QCM sur article wikipedia</h1>
  D'abord prenez 1 minute pour la section {{question["choosen_section"]}} de l'article wikipedia suivant <a href="{{question['wikipedia_url']}}">({{question["wikipedia_url"]}})</a>.<br>

  {% if question %}
    <h2>{{question['current_question_index']+1}} / {{question['total_nb_question']}} {{ question['question'] }}</h2>
    <form method="POST">
      <input type="hidden" name="current_question_index" value="{{question['current_question_index']}}" />
      <ul>
        <li>
          <input type="radio" id="option-a" name="answer" value="a">
          <label for="option-a" class="option-a">{{ question['a'] }}</label>
        </li>
        <li>
          <input type="radio" id="option-b" name="answer" value="b">
          <label for="option-b" class="option-b">{{ question['b'] }}</label>
        </li>
        <li>
          <input type="radio" id="option-c" name="answer" value="c">
          <label for="option-c" class="option-c">{{ question['c'] }}</label>
        </li>
        <li>
          <input type="radio" id="option-d" name="answer" value="d">
          <label for="option-d" class="option-d">{{ question['d'] }}</label>
        </li>
      </ul>
      <button type="submit">Valider votre réponse</button>
    </form>
  {% else %}
    <p>You have answered all questions!</p>
  {% endif %}
</body>
</html>
