<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MCQ Quiz</title>
  <style>
    body {
      background-color: #f5f5f5; /* Light gray background */
    }

    .container {
      margin: 20px auto;
      max-width: 800px;
      padding: 20px;
      border-radius: 5px;
      background-color: #fff; /* White container background */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    }

    .quiz-title {
      text-align: center;
      color: #333; /* Dark gray title */
      font-size: 2em;
      margin-bottom: 20px;
    }

    .question p {
      font-weight: bold;
      color: #007bff; /* Blue question text */
    }

    .feedback p {
      margin-bottom: 5px;
    }

    .feedback .correct {
      color: #28a745; /* Green for correct answer */
    }

    .feedback .incorrect {
      color: #dc3545; /* Red for incorrect answer */
    }

    .next-question-form,
    .final-results-form {
      text-align: center;
      margin-top: 20px;
    }

    .next-question-form input[type="submit"] {
      background-color: #007bff; /* Blue button */
      color: #fff; /* White button text */
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .final-results-form input[type="submit"] {
      background-color: #ffc107; /* Orange button */
      color: #fff; /* White button text */
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1 class="quiz-title">MCQ Quiz</h1>
    <div class="question">
      <p>{{ result['question'] }}</p>
    </div>

    <div class="feedback">
      <p>Votre réponse: {{ result["choosen_answer"] }}</p>
      <p>Bonne réponse: {{ result["answer"] }}</p>
      <p class="{{ result['is_correct'] }}">
        {% if result['is_correct'] %}
          Votre réponse est correcte !
        {% else %}
            Votre réponse est incorrecte :/
        {% endif %}
      </p>
    </div>

    {% if not result['end_game'] %}
      <form action="/" class="next-question-form">
        <input type="submit" value="Question suivante" />
      </form>
    {% else %}
      <p>Vous avez répondu à toutes les questions !</p>
      <form action="/final_results" class="final-results-form">
        <input type="submit" value="Aller à la page de résultats" />
      </form>
    {% endif %}
  </div>
</body>
</html>
