<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MCQ Quiz</title>
</head>
<body>
    Question: {{result['question']}}</br>
    Vous avez répondu {{ result["choosen_answer"] }} et la bonne réponse était {{ result["answer"] }}, vous avez {{ result["correct"] }} répondu.

    {%if not result['end_game']%}
    <form action="/">
        <input type="submit" value="Question suivante" />
    </form>
    {% else %}
        <p>You have answered all questions!</p>
        <form action="/final_results">
            <input type="submit" value="Aller a la page de résultat" />
        </form>
    {% endif %}
</body>
</html>
