<!DOCTYPE html>
<html>
<head>
    <title>Final Results - MCQ Quiz</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1 {
            text-align: center;
            font-size: 2em;
            margin-bottom: 20px;
        }
        table {
            width: 100%; /* Make table responsive */
            border-collapse: collapse;
        }
        th, td {
            text-align: left;
            padding: 10px;
            border: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
            font-weight: bold;
        }
    </style>
    <meta http-equiv="refresh" content="10">  </head>
</head>
<body>
    <h1>MCQ Quiz Results</h1>
    <table>
        <thead>
            <tr>
                <th>Participant Name</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            {% for name, score in result.dico_score_all_participant.items() %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ score }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
