<html>
    <p>{{data["text_content"]}}</p>
    <audio controls>
        <source src="/static/{{data['path_subject_folder']}}audio.wav" type="audio/ogg">
      Your browser does not support the audio element.
      </audio> 
      <a href="/quizz" >Start the quizz</a>
        <a href="/final_results" >Leaderboard</a>
</html>