<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>QCM sur des pages wikipédia</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <style>
        /* Style all anchor tags to look like buttons by default */
        a {
        display: block; /* Make them behave like block elements (fill the width) */
        width: 100%; /* Set width to 100% */
        padding: 15px; /* Add some padding for better click target area */
        margin-bottom: 10px; /* Add some space between buttons */
        text-align: center; /* Center the text inside the button */
        text-decoration: none; /* Remove underline from links */
        color: #fff; /* Set text color to white */
        border: none; /* Remove default border */
        cursor: pointer; /* Change cursor to a pointer on hover */
        }

        /* Target smartphones with media query */
        @media only screen and (max-width: 768px) {
        a {
            /* Increase font size for better readability on smaller screens */
            font-size: 16px;
        }
        }
  </style>
</head>
<body>
  <h1>QCM sur article wikipedia</h1>
  D'abord prenez 1 minute pour la section {{question["choosen_section"]}} de l'article wikipedia suivant <a href="{{question['wikipedia_url']}}">({{question["wikipedia_url"]}})</a>.<br>
  <h2>{{question['current_question_index']+1}} / {{question['total_nb_question']}} {{ question['question'] }}</h2>
  <a href="/?current_question_index={{question['current_question_index']}}&answer=a" style="background-color: {% if question['correct_answer_letter'] == 'a' %} green {%elif question['selected_answer_letter'] == 'a'%} red {%else%} #007bff {% endif %}">{{ question['a'] }}</a>  
  <a href="/?current_question_index={{question['current_question_index']}}&answer=b" style="background-color: {% if question['correct_answer_letter'] == 'b' %} green {%elif question['selected_answer_letter'] == 'b'%} red {%else%} #007bff {% endif %}">{{ question['b'] }}</a>  
  <a href="/?current_question_index={{question['current_question_index']}}&answer=c" style="background-color: {% if question['correct_answer_letter'] == 'c' %} green {%elif question['selected_answer_letter'] == 'c'%} red {%else%} #007bff  {% endif %}">{{ question['c'] }}</a>  
  <a href="/?current_question_index={{question['current_question_index']}}&answer=d" style="background-color: {% if question['correct_answer_letter'] == 'd' %} green {%elif question['selected_answer_letter'] == 'd'%} red {%else%} #007bff {% endif %}">{{ question['d'] }}</a>  
{%if question['correct_answer_letter']%}
<a href="/question_suivante" style="background-color: grey" >Question suivante</a>
{% endif %}
</body>
<script>
    function submit_answer(choice){
        alert("I submit");
        document.getElementById('answer').value = choice; 
        document.getElementById('answer_form').submit();
    }
</script>
</html>
